@@media query and (max-width: 1085) {
  #navbar-container #menu-bar #last-menu li{
			visibility: hidden;
			clear: both;
			float: left;
			display: none;
    }
}

#navbar-container {
	color: black;
	min-width: 250px;
	width:100%;
	height: 69px;
}

#testthisshitout{
	height: 69px;
}

#navbar-container #menu-bar ul{
	list-style-type: none;
	height: 100%;

}

#navbar-container #menu-bar {
	margin-right: 1.5em;
	float:right;
}

#navbar-container #menu-bar li {
	float:left;
	margin-top:0.7em;
	display:inline-block;
}

#navbar-container #logo {
	float:left;
	font-size: 1.5em;
	padding: none;
}

#navbar-container .selectedMenu {
	color: #456990;
}

#navbar-container #last-menu {
	margin-right: 6em;
}

#navbar-container .w3-button:hover {
	text-decoration: none;
}
#navbar-container .action-button {
	width:auto;
	border-radius: 2em;
	border: black solid 2px;
	margin-right: 1.5em;
}
